*{
    background-color: wheat;
    justify-content: center;
}
.body{
    font-size: larger;
    font-weight: bold;
    color: blue;
    text-align: center;
    
}
.nav-bar{
    display: flex;
    
}
.footer{
    margin: 10px;
    
}